<div class="col-md-6 col-lg-4 d-flex justify-content-center">
    <div class="card employee-card my-3 mx-3">
        <div class="card-header">
            <h2 class="card-title">{{ name }}</h2>
            <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
        </div>
        <div class="card-body">
            <p><span class="font-weight-bold">ID:</span> {{ id }}</p>
            <p><span class="font-weight-bold">Email:</span> <a href="mailto:{{ email }}">{{ email }}</a></p>
            <p><span class="font-weight-bold">GitHub:</span> <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></p>
        </div>
    </div>
</div>


