<div class="row">
    <div class="col-12 d-flex justify-content-center my-3">
        <div class="card employee-card">
            <div class="card-header">
                <h2 class="card-title font-weight-bold">{{ name }}</h2>
                <h3 class="card-title font-weight-bold"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
            </div>
            <div class="card-body">
                <p><span class="font-weight-bold">ID:</span> {{ id }}</p>
                <p><span class="font-weight-bold">Email:</span> <a href="mailto:{{ email }}">{{ email }}</a></p>
                <p><span class="font-weight-bold">Office number:</span> {{ officeNumber }}</p>
            </div>
        </div>
    </div>
</div>

